#dropzone > div > span{
	display: none;
}

#newImages > div{
	float:left;
	padding: 7px;
	height: 170px;
}

#newImages > div > div.dz-success-mark{
	display:none;
}

#newImages > div > div.dz-error-mark{
	display: none;
}

.uploadZone{
	width: 85%;
	height: 175px;
	border: solid;
	border-style: dashed;
	border-width: 6px;
	padding-top: 13%;
	margin-bottom: 15px;
}

.newImages{
	width: 85%;
	height: 200px;
	overflow-x: none;
	overflow-y: scroll;
}
